<head>
    <!-- USE DEVELOPMENT VERSION -->
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  
    <title>Proyecto de Desarrollo de Sotfware - Proyecto 4</title>
</head>

<body>
  <div id="topbar">
    <div>
        <h1 style="text-decoration: underline;">
        Telegram Bot - Stats
        </h1>
    </div>
    <div>
        <div>
            <h2> Welcome to the telegram bot stats</h2>
        </div>

        <div class="wrapper">
            <button class="button-23" role="button" onclick="location.href='{% url 'stats' %}'">
                View All Stats 
            </button>
            <div>
                <br><br>
                <h2> Stats by Group</h2>
                <ul>
                    {% for group in chats %}
                    <button class="button-23" role="button" onclick="location.href='{% url 'group_stats' group_id=group.id %}'">
                        {{ group.name }} 
                    </button>
                        <!-- <li><a href="{% url 'group_stats' group_id=group.id %}">{{ group.name }}</a></li> -->
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>
</div>  
</body>
