<head>
    <!-- USE DEVELOPMENT VERSION -->
    <meta charset="utf-8">
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"/> -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  
    <title>Proyecto de Desarrollo de Sotfware - Proyecto 4</title>
</head>

<div id="topbar">
    <div>
        <h1 style="text-decoration: underline;">
        Telegram Bot - Stats
        </h1>
    </div>
    <div>
        <div class="d-flex justify-content-left">
            
        </div>
    </div>
</div>